@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500;600&display=swap');

$color-papayawhip:papayawhip;
$color-hover:rgb(4, 146, 186);
$color-grey:rgba(27, 50, 92, 0.15);
$font-sansNarrow:'PT Sans Narrow', sans-serif;
$font-Stint-Ultra-Condensed:'Stint Ultra Condensed', cursive;
$font-code-Pro:'Source Code Pro', monospace;
$font-cormorant: 'Cormorant', serif;